<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
  </head>
  <body>
    <h1>Danh Sách Quản Lý Sản Phẩm</h1>

    <div class="page-content">
      <div class="records table-responsive">
        <div class="record-header">
          <div class="add">
         

            <div class="search-container">
              <input type="text" placeholder="Search...">
              <button type="submit">Search</button>
            </div>
            
          </div>
        </div>
        <div>
          <table class="">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Color</th>
                <th scope="col">Brand</th>
                <th scope="col">Image</th>
                <th scope="col">Matetial</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody  *ngFor ="let item of lists">
              <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.color}}</td>
                <td>{{item.brand}}</td>
                <td><img height="49" src="{{item.image_url}}"></td>
                <td>{{item.material}}</td>
                <td>{{item.description}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td>
                  <div class="actions">
                      <span><button (click)="deleteProduct()" class="delete-button">Delete</button></span>
                      <span><button class="edit-button">Edit</button></span>


                
                      
                      <span class="las la-ellipsis-v"></span>
                  </div>
              </tr>
           
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </body>
</html>
